@font-face {
  font-family: 'Maax';
  src: url('assets/Maax.otf')  format('opentype');
;
}
@font-face {
  font-family: 'Maax_italic';
  src: url('assets/Maax_italic.otf')  format('opentype');
}
body {
  font-family: 'Maax';
  color: #b38422;
}
#checkboxesContainer {
  position: absolute;
  top: 90%;
  left: 20%;
  width: 300px;
  height: 50px;
  transform: translate(-50%,-50%);
}
#writeCheckboxContainer {
  /* position: absolute;
  top: 0%;
  left: 0%;
  width: 200px; */
  color: white;
  font-family: 'Verdana';
  font-size: 17px;
  transform: translate(-50%,-50%);
}
#voiceCheckboxContainer {
  /* position: absolute;
  top: 5%;
  left: 0%;
  width: 300px; */
  color: white;
  font-family: 'Verdana';
  font-size: 17px;
  transform: translate(-50%,-50%);
}
#myInput {
  background-color: black;
  border-color: black;
  border-bottom-color: white;
  padding-bottom: 15px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%,-50%);
}
#myVoiceInput {
  background-color: black;
  border-color: black;
  border-bottom-color: grey;
  border-style: solid;
  border-width: 0.10vw;
  padding-bottom: 0px;
  color: white;
  font-family: 'Verdana';
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  height:43px;
  width: 500px;
  transform: translate(-50%,-50%);
}
#askButton {
  background-color: black;
  border-color: white;
  color: white;
  font-size: 22px;
  padding : 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
canvas {
  display: block;
}

/* DISCO */

#disco {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  height: 30vw;
  background-color: #b38422;
  border-style: solid;
  border-width: 0.22vw;
  border-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%,-50%);
}
.transition {
  transition: opacity 0.5s;
}
.opacity_0 {
  opacity: 0;
}
.opacity_1 {
  opacity: 1;
}
/* .disco_animation {
    animation: opacity 0.5s infinite;
}
@keyframes opacity {
  from {opacity: 0}
    to {opacity: 1}
}
.disco_animation_inverse {
    animation: opacity_inverse 0.5s infinite;
}
@keyframes opacity_inverse {
  from {opacity: 1}
    to {opacity: 0}
} */


/* Access Button */

#access_button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17vw;
  height: 5vw;
  /* padding-left: 0.5vw;
  padding-right: 0.5vw; */
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.15vw;
  border-color: #b38422;
  color: #b38422;
  font-size: 1.1vw;
  transform: translate(-50%,-50%);
}
.keywords {
  font-size: 1.1vw;
  margin: 0px;
}
